/* @import url("./common.css"); */
@import url("./component-lib/all-comp.css");
:root {
	--primary-color: #0060c3;
	--dark-primary-color: #0059b2;

	--primary-font-color: #0a1929;
	--complimentary-font-color: #fffefe;

	--primary-bg-color: #fffefe;
	--secondary-bg-color: #fffefe;
	--border-color: E4E6EB;

	--hover-color: #e9f5ff;

	--box-shadow: rgb(0 0 0 / 0.2);
	--font: "Montserrat", sans-serif;

	--primary-border-color: #22bff2;
	--danger-color: #f54337;
	--dark-danger-color: #d22f2e;
	--success-color: #67bb6b;
	--dark-success-color: #2e7d32;
	--warning-color: #fac424;
	--dark-warning-color: #feb203;
	--highlight-color: #ccff00;
	--card-bg-color: white;
}
html[data-theme="dark"] {
	--primary-color: #0080ff;
	--dark-primary-color: #0059b2;
	--primary-font-color: #fffefe;
	--complimentary-font-color: #fffefe;

	--primary-bg-color: #0a1929;
	--secondary-bg-color: #061a2e;
	--border-color: E4E6EB;

	--hover-color: #132e4d;

	--box-shadow: rgba(255, 255, 255, 0.2);
	--font: "Montserrat", sans-serif;

	--primary-border-color: #595959;
	--highlight-color: #ff3333;
	--card-bg-color: #1f1f1e;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
}
main {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}
.comp-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem;
	gap: 1rem 4rem;
}
.comp-container-vertical {
	flex-direction: column;
}

.main-container {
	width: 80%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-bg-color);
	color: var(--primary-font-color);
	box-shadow: 0 5px 3px -3px var(--box-shadow);
	min-height: 100px;
}
.flex-hz {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.logo-container {
	width: 50px;
	height: 50px;
}
.brand-name {
	color: var(--primary-font-color);
}
.link-no-style {
	text-decoration: none;
	color: var(--primary-text-color);
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0;
}
.hero-container div {
	font-size: 12rem;
	font-weight: 900;
}
.hero-container div:nth-child(1) {
	color: #1abbde;
}
.hero-container div:nth-child(2) {
	color: #df0b8d;
}
.hero-container div:nth-child(3) {
	color: #faa535;
}
.link-no-style {
	text-decoration: none;
	color: var(--primary-color);
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
}

@media only screen and (max-width: 600px) {
	.header,
	.footer {
		flex-direction: column;
	}
	.hero-container div {
		font-size: 5rem;
	}
	.main-container {
		width: 100%;
	}
}
