/* @import url("./common.css"); */
@import url("./component-lib/all-comp.css");
:root {
	--primary-color: #017eff;
	--primary-color-hover: #1169c2;
	--secondary-color: #f3f7f8;
	--primary-font-color: #000;
	--secondary-font-color: #fff;
	--bg-color-primary: #fff;
	--bg-color-secondary: #fff;
	--hover-color: #eef0f5;
	--box-shadow: rgb(0 0 0 / 0.2);
	--font: "Montserrat", sans-serif;

	--primary-border-color: #22bff2;
	--error-color: red;
	--success-color: green;
}
html[data-theme="dark"] {
	--primary-color: #fff;
	--primary-color-hover: #e9e0e0;
	--secondary-color: #fff;
	--primary-font-color: #fff;
	--secondary-font-color: #000;
	--bg-color-primary: #000101;
	--bg-color-secondary: #111010;
	--hover-color: #303030;
	--box-shadow: rgba(255, 255, 255, 0.2);
}
html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
}
main {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}
.comp-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem;
	gap: 1rem 4rem;
}
.comp-container-vertical {
	flex-direction: column;
}

.main-container {
	width: 80%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bg-color-secondary);
	color: var(--primary-font-color);
	box-shadow: 0 5px 3px -3px var(--box-shadow);
	min-height: 100px;
}
.flex-hz {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.logo-container {
	width: 50px;
	height: 50px;
}
.brand-name {
	color: var(--primary-font-color);
}
.link-no-style {
	text-decoration: none;
	color: var(--primary-text-color);
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0;
}
.hero-container div {
	font-size: 12rem;
	font-weight: 900;
}
.hero-container div:nth-child(1) {
	color: #1abbde;
}
.hero-container div:nth-child(2) {
	color: #df0b8d;
}
.hero-container div:nth-child(3) {
	color: #faa535;
}
.link-no-style {
	text-decoration: none;
	color: var(--primary-color);
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
}

@media only screen and (max-width: 600px) {
	.header,
	.footer {
		flex-direction: column;
	}
	.hero-container div {
		font-size: 5rem;
	}
}
