.nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.6rem;
	background-color: var(--card-bg-color);
	box-shadow: 0 5px 3px -3px var(--box-shadow);
}
.nav-sub-container {
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

@media screen and (max-width: 900px) {
	.btn-menu {
		display: block;
	}
	.btn-hide {
		display: none;
	}
}
